<div class="banner">
    <div class="content">
        <a routerLink="donation" class="donationlink"  >DONATE NOW</a><i class="bi bi-arrow-right"></i>
    </div>
</div>
<div class="container mt-5 mb-4">
    <h1 class="text-center">Categories</h1>
    <div class="row mt-5" style="width: 35rem;">
        <!-- stepone -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <p>URGENT</p>
            </div>
        </div>

        <!-- steptwo -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <p>ANIMALS</p>
            </div>
        </div>
        <!-- stepthree -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <p>CHILDREN</p>
            </div>
        </div>
        <!-- stepfour -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <p>EDUCATION</p>
            </div>
        </div>
        <!-- stepfive -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <p>MEDICAL</p>
            </div>
        </div>
    </div>
</div>